[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "esDesign"]
	path = esDesign
	url = https://github.com/cran/esDesign
[submodule "nnt"]
	path = nnt
	url = https://github.com/cran/nnt
